# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vscode/

desktop/lab1/.idea/

desktop/lab1/cmake-build-debug/

windows/lab2/.idea/

windows/lab2/cmake-build-debug/

desktop/lab2/math/cmake-build-debug/

desktop/lab2/math/.idea/

desktop/lab2/complex2/cmake-build-debug/

desktop/lab2/complex2/.idea/

desktop/lab2/complex2/

desktop/lab2/complex/cmake-build-debug/

desktop/lab2/complex/.idea/

desktop/lab2/Test/cmake-build-debug/

desktop/lab2/Test/.idea/

windows/lab3/cmake-build-debug/

windows/lab3/.idea/
